<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153090945056-b2u2a4qmi2sums6ngl4je0d3bcfs3uvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153090945056-b2u2a4qmi2sums6ngl4je0d3bcfs3uvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBbvMU2mFIN_3H2CFz-5i8PFJpn7fGch-o</string>
	<key>GCM_SENDER_ID</key>
	<string>153090945056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jicellcollado.DreamBites</string>
	<key>PROJECT_ID</key>
	<string>dreambites-76d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>dreambites-76d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:153090945056:ios:c110ab521e160b0fee0c45</string>
</dict>
</plist>
